<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actualizar Asignatura</title>
</head>
<body>
<h1>Actualizar Asignatura</h1>
<form action="#" th:action="@{/asignatures/{id}(id=${asignatura.id})}" th:object="${asignatura}" method="post">
    <label for="name">Nombre:</label>
    <input type="text" id="name" th:field="*{name}" required /><br/>

    <label for="description">Descripción:</label>
    <input type="text" id="description" th:field="*{description}" required /><br/>

    <label for="classroom">Salón:</label>
    <input type="number" id="classroom" th:field="*{classroom}" required /><br/>

    <label for="startTime">Horario de Inicio:</label>
    <input type="datetime-local" id="startTime" th:field="*{startTime}" required
           th:value="${#dates.format(asignatura.startTime, 'yyyy-MM-dd\'T\'HH:mm')}" /><br/>

    <label for="endTime">Horario de Fin:</label>
    <input type="datetime-local" id="endTime" th:field="*{endTime}" required
           th:value="${#dates.format(asignatura.endTime, 'yyyy-MM-dd\'T\'HH:mm')}" /><br/>

    <label for="professor">Docente Encargado:</label>
    <input type="text" id="professor" th:field="*{professor}" required /><br/>

    <button type="submit">Actualizar</button>
    <a href="/asignatures">Cancelar</a>
</form>
</body>
</html>
