<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Asignaturas</title>
</head>
<body>
<h1>Lista de Asignaturas</h1>
<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Salón</th>
        <th>Horario de Inicio</th>
        <th>Horario de Fin</th>
        <th>Docente Encargado</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="asignatura : ${asignaturas}">
        <td th:text="${asignatura.name}">Nombre de la asignatura</td>
        <td th:text="${asignatura.description}">Descripción</td>
        <td th:text="${asignatura.classroom}">Salón</td>
        <td th:text="${asignatura.start}">Horario de Inicio</td>
        <td th:text="${asignatura.end}">Horario de Fin</td>
        <td th:text="${asignatura.professor}">Docente Encargado</td>
    </tr>
    </tbody>
</table>
</body>
</html>
